:host {
  .navbar {
    background-color: #1F763B !important;

    .input-group-text,
    .form-control {
      border-radius: 20px !important;
    }

    .input-group-text {
      border-right: none;
    }

    .form-control {
      border-left: none;
    }
  }

  /* Contenedor del menú */
  .notification-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    z-index: 2000;
    border-radius: 0 0 4px 4px;
    background-color: white;
    max-height: 240px;
    overflow-y: auto;

    /* Notificaciones no leídas */
    .list-group-item.unread {
      background-color: #d0ebff;
    }

    /* Hover sobre no leídas */
    .list-group-item.unread:hover {
      background-color: #ffffff;
      cursor: pointer;
    }

    /* Notificaciones ya leídas */
    .list-group-item:not(.unread) {
      background-color: #f8f9fa;
    }
  }
}