<div class="container py-4">
  <!-- Loader -->
  <div *ngIf="loading" class="text-center my-5">
    <div class="spinner-border" role="status"></div>
  </div>

  <!-- Error -->
  <div *ngIf="!loading && errorMsg" class="alert alert-danger">
    {{ errorMsg }}
  </div>

  <!-- Lista de posts -->
  <ng-container *ngIf="!loading && posts.length;">
    <div
      class="bg-white rounded-3 shadow-sm p-3 mb-3"
      *ngFor="let post of posts"
    >
      <div class="d-flex align-items-center mb-2">
        <img
          [src]="user.photoURL"
          class="rounded-circle me-2"
          width="40"
          height="40"
        />
        <div>
          <strong>{{ user.fullName }}</strong
          ><br />
          <small class="text-muted">{{
            post.timestamp | date : "short"
          }}</small>
        </div>
      </div>
      <p>{{ post.content }}</p>
      <div *ngIf="post.photoURL" class="post-image-square mt-3">
        <img [src]="post.photoURL" class="rounded" />
      </div>
      <div class="d-flex justify-content-between mt-3 text-muted small">
        <button class="btn btn-like" (click)="toggleLike(post.id)" [attr.aria-pressed]="isLiked(post.id)"><i class="me-1" [ngClass]="{'bi bi-heart-fill text-danger': isLiked(post.id),'bi bi-heart': !isLiked(post.id)}"></i>Me gusta</button>
        <!-- <span><i class="bi bi-chat me-1"></i>Comentar</span>
        <span><i class="bi bi-share me-1"></i>Compartir</span> -->
      </div>
    </div>
  </ng-container>

</div>
