<div class="login-page">
  <div class="overlay"></div>
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="card login-card p-4 text-center">
      <h2 class="mb-4">Tienes cuenta?</h2>

      <form (ngSubmit)="onLoginEmail()">
        <div class="mb-3">
          <input [(ngModel)]="email" name="email" type="email" class="form-control rounded-pill py-2"
            placeholder="Username" required />
        </div>
        <div class="mb-3 position-relative">
          <input [(ngModel)]="password" name="password" type="password" class="form-control rounded-pill py-2"
            placeholder="Password" required />
          <i class="bi bi-eye position-absolute top-50 end-0 me-3 translate-middle-y"></i>
        </div>
        <button type="submit" class="btn btn-signin w-100 rounded-pill mb-3">
          Iniciar sesión
        </button>
      </form>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
          <input type="checkbox" id="remember" />
          <label for="remember" class="ms-1">Recordar</label>
        </div>
        <a routerLink="/forgot">Has olvidado tu contraseña</a>
      </div>

      <div class="text-muted mb-2">― O inicia sesión con Google ―</div>
      <div class="d-flex justify-content-center gap-3">
        <!-- Botón Google -->
        <button class="btn btn-outline-light google-btn rounded-pill px-4" (click)="onLoginGoogle()">
          <i class="bi bi-google me-2"></i>
          Inicia sesion con Google
        </button>

        <!-- Botón Registrar -->
        <button class="btn btn-primary register-btn rounded-pill px-4" (click)="onRegister()">
          Register
        </button>
      </div>
    </div>
  </div>
</div>